.container {
  display: grid;
  padding: 1%;
  row-gap: 20px;
  max-width: 90% !important;
  max-height: 50vh;
  overflow: auto;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(5, 115px);
}
.deleteContainer > img {
  height: 40px;
}
.deleteContainer{
  width: 5%;
  float: right;
  margin-right: 1%;
  margin-top: 2%;
}

.adjust-img {
  min-height: 110px;
}

@media (max-width: 1180px) and (orientation: landscape)  {
  .container{
    width: 100% !important;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 115px);
    height: 50vh;
  }
}

@media (max-width: 1180px) and (orientation: portrait)  {
  .container{
    max-height: 65vh;
  }
}