.bar {
  display: flex;
  width: 90%;
  height: 8rem;
  margin: 2.5% auto;
  border: 4px solid black;
  border-radius: 7px;
}
.input-bar {
  display: flex;
  gap: 10px;
  flex: 1;
  max-width: 80%;
  overflow: none;
}
section{
  display: flex;
  width: 12%;
}
.bar-btn{
  height: 100%;
  cursor: pointer;
}
.deleteBtn{
  width: 100%;
  border-right: 3px solid black;
}
form{
  cursor: pointer;
}
.checkDiv{
  min-width: 120px;
  max-width: 14%;
  cursor: pointer;
}
.checkDiv > img{
  height: 100%;
  width: 100%;
}
.checkDiv:hover{
  background-color: rgb(205, 255, 208);
  cursor: pointer;
}
button{
  border: none;
  width: 100%;
  cursor: pointer;
}
